@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

body{
	background-color:orange;
}

.header{
	/*background-color:;*/
	border: 2px solid black;
	border-radius:35px;
	/*align-items: center;*/
	text-align:center;
	/*display:flex;*/
	/*flex-direction:column;*/
	/*justify-content: flex-start;*/
}

.headerText{
	font-family:'Fira Sans', sans-serif;
	font-size:50px;
	margin-bottom: 0;
	margin-top: 10px;
}

.headersubText{
	margin-top: 0;
	text-decoration:underline;
}

.overallContainer{
	background-color:red;
}

.mainLinkHolder{
	/*display:flex;
	flex-direction:column;
	justify-content:center;
	align-items: center;*/
	margin:20px;
	/*background-color:rgba(255,255,255,0.5);*/
	text-align:center;
	border-radius:20px;
	width:100%;
}

.mainLink{
	margin-top:10px;
	font-family:'Fira Sans', sans-serif;
}

.mainLink, .completeLink{
	color:black;
	text-decoration: none;
}

.mainLink:hover ,.completeLink:hover{
	text-decoration: underline
}

.endpointContainer{
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items: center;
	margin:20px;
}
.endpointLink{
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: space-around;
	border-radius:20px;
	background-color:rgba(255,255,255, 0.5);
	height:100px;
	width:90%;
}

.endPoint, .completeLink{
	margin-left: 20px;
	text-align:center;
}

.endPoint{
	font-size:23px;
	font-family:'Fira Sans', sans-serif;
}

.completeLink{
	font-size:13px;
}

.paramAndRet{
	display:flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start
	background-color:red;
}